@import "./bulma.css";
@import "./materialdesignicons.css";

body > * {
    transition: all, 600ms;
}

.column .box {
    height: 100%;
    z-index: 10;
}

#mapa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}